h1 {
    color: brown;
}

/* {
   // border: solid;
}*/

.header{
    background-color:cyan;
    display:flex;
    justify-content:space-between 
}
.grid{
display:flex;
flex:wrap;
justify-content:space-evenly;
}

.site description{
    display:flex;
    flex-direction:column;
    justify-content:first baseline;
}
.footer{
display:flex;
justify-content:flex-end
}
p,h2{
    text-align: center;
}